@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

.body {
  font-family: "Poppins", sans-serif;
}

.container__home {
  background-color: #ffc53d;
  /* display: flex; */
}

.container__home-nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 6rem;
}

.home-img {
  width: 3.5rem;
}

.home-btn__user {
  background-color: #a90202;
  color: white;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 0.5rem;
  width: 40px;
  height: 40px;
}

.bx.bxs-user {
  font-size: 1.5rem;
  text-align: center;
}

.container__home-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  margin-left: 6rem;
  width: 45%;
  height: 45rem;
}

.home-header__title {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  width: 45%;
  font-size: clamp(25px, 4vw, 40px);
  font-weight: bold;
  line-height: 60px;
}
.home-header__gourmand {
  color: #a90202;
}

.home-header__sub-title {
  font-size: 1rem;
  line-height: 1.7rem;
  font-weight: normal;
}

#home-header__btn {
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1.3rem;
  line-height: 1.7rem;
  font-weight: normal;
  background-color: #a90202;
  color: white;
  text-align: center;
  width: 150px;
  height: 50px;
  text-decoration: none;
}

.btn-services {
  cursor: pointer;
}

.footer {
  background-color: #ffc53d;
}
